.header{
     
      position: sticky; 
      top: 0;
       z-index: 1;
      height: 100px;
      border-bottom: 1px solid rgba(20, 19, 19, 0.15);
}
.navbar{
      padding-top: 30px;
}
.menu-item{
      gap: 20px;
}
.menu-item a{
      text-decoration: none;
      color: #000;
}
.menu-item img{
      width: 50px;
      border-radius: 50%;
      
}